body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    font-size: 15px;
    line-height: 2;
}
p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}
img {
    vertical-align: bottom;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    color: #3583aa;
    text-decoration: none;
}
a:visited {
    color: #788d98;
}

header {
    width: 960px;
    height: 120px;
    margin: 0 auto;
}
.logo {
    float: left;
    margin-top: 50px;
}
.global-nav {
    float: right;
    margin-top: 60px;
}
.global-nav li{
    float: left;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
}
.logo img {
    width: 75%;
}
.global-nav li a {
    color: #ffff;
    font-family: 'Noto Serif', serif;
    display: block;
    padding:5px 15px;
    
}
/* hover設定 */

.global-nav li{
    /*線の基点とするためrelativeを指定*/
    position: relative;
    margin:0 10px;
}
.global-nav li::before,
.global-nav li::after{
    content:"";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    /*線の形状*/
    width: 0;
    height:2px;
    background:#ffffff;
    
/*アニメーションの指定*/
  transition: all 0.2s linear;
  transition-delay: 0.2s;
}
.global-nav li::before{
    right: 0;
    top: 0;
  }
  .global-nav li::after{
    left: 0;
    bottom: 0;
  }
  /*線の基点位置2 spanタグ*/
  
  .global-nav li span{
    display: block;
  }
  
  .global-nav li span::before,
  .global-nav li span::after{
    content:"";
      /*絶対配置で線の位置を決める*/
    position: absolute;
      /*線の形状*/
    width:2px;
    height:0;
    background: #FFFFFF;
  /*アニメーションの指定*/
    transition: all 0.2s linear;
  }
  .global-nav li span::before{
    left: 0;
    top: 0;
  }
  .global-nav li span::after{
    right: 0;
    bottom: 0;
  }
  
  /*現在地とhoverした際の線の変化*/
  .global-nav li.current::before,
  .global-nav li.current::after,
  .global-nav li:hover::before,
  .global-nav li:hover::after{
    width: 100%;/*横幅を100%に*/
  }
  
  .global-nav li.current span::before,
  .global-nav li.current span::after,
  .global-nav li:hover span::before,
  .global-nav li:hover span::after{
    height: 100%;/*縦幅を100%に*/
  }

/* hover of end */

#wrap {
    clear: both;
}
.content {
    width: 960px;
    margin: 0 auto;
}
/* footer */
footer {
    text-align: center;
    color: #ffff;
    padding: 20px 0; 
}
#index footer {
    color: #ffff;
    padding: 20px 0; 
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    left: 50%;
}
footer small {
    font-size: 12px;
}
/* footer of end */

/* index of start */
#index h1 {
    font-size: 90px;
    line-height: 1;
    color: #ffffff;
    font-family: 'Noto Serif', serif;
    margin-bottom: 15px;
}
#index .content{
    margin-top: 150px;
}
.btn {
    margin-top: 70px;
}
#index .btn a {
    background-color: #3583aa;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    display: block;
    width: 180px;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 3px;
    border: 4px solid #3583aa;
}
#index .btn a:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #3583aa;
}
#index {
    background-image: url(img/contents.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:soft-light

}
#index #wrap{
    background-color: transparent;
    margin-top: 0;
    padding: 0;
}

/* about me of start */
#about {
    background-image: url(img/about-wrapper.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}
#wrap {
    clear: both;
    background-color: #ffffff;
    margin-top: 220px;
    padding: 35px 0;
}
.main-center {
    width: 940px;
    margin: 0 auto;
}
#about h1 {
    font-family: 'Noto Serif', serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
}
#about h2 {
    font-family: 'Noto Serif', serif;
    font-size: 24px;
}
.icon::before {
    content: "";
    padding-right: 10px;
    border-left: 7px solid #3583aa;
}
#about .profile-text {
    width: 500px;
    float: left;
}
.profile img {
    width: 400px;
    margin-left: 30px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
section {
    margin-bottom: 35px;
}

#about .career th {
    width: 240px;
    background-color: #cccccc;
    padding: 12px 0;
    border: 1px solid #cccccc;
}
#about .career td {
    width: 660px;
    padding: 12px 0 12px 40px;
    border: 1px solid #cccccc;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
/* about me of end */

/* contact of start */
#contact {
    background-image: url(img/contact-wrapper1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}
#contact .main-center p{
    margin: 20px 0;
}
/* form */
#contact h1 {
    font-family: 'Noto Serif', serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
}
#contact h2 {
    font-family: 'Noto Serif', serif;
}

#contact .form {
    background-color: #ccc;
    padding: 30px 50px;
    margin-top: 20px;
}
#contact .form dl dt {
    width: 165px;
    padding: 10px 0;
    float: left;
    clear: both;
}
#contact .form dl dd {
    padding: 10px 0;
}
#contact .form .name {
    width: 240px;
    height: 30px;
}
#contact .form .email {
    width: 300px;
    height: 30px;
}
#contact .form .tel {
    width: 240px;
    height: 30px;
}
#contact .form .type {
    width: 180px;
    height: 30px;
}
#contact .form .message {
    width: 660px;
    height: 150px;
}
/* contact btn */
#contact  .btn {
    background-color: #3583aa;
    color: #ffffff;
    font-size: 20px;
    width: 185px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 3px;
    border: 2px solid #3583aa;
    margin: 40px auto;
}
#contact  .btn:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #3583aa;
}
#contact .form .required::after {
    content: "*";
    color: #ff0000;
}
#contact .form .attention {
    margin: 20px 0 0 165px;
}
/* access */
#contact .access {
  width: 960px;
  margin: 0 auto;
}
#contact .access table {
    float: left;
    margin-top: 20px;
}
#contact .access th,
#contact .access td {
    text-align: left;
    vertical-align: top;
    line-height: 3.0;
}

#contact .access td {
    padding-left: 30px;
}
#contact .access iframe {
    width: 460px;
    float: right;
}

/* contact of end */

/* loading of start */
.loading {
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color:#BFC5CA;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    margin: 140px auto;
    height: 100px;
    width: 100px;
    transform: rotate(-16deg);

  }
  .strand_h {
    height: 10px;
    width: 50px;
    border-radius: 10px;
    opacity: 0.8;
  }
  #blue {
    margin-top: 8px;
    background-color: #6dcadc;
    animation: blue 2s infinite;
  }
  #pink {
    margin-top: 9px;
    background-color: #e01463;
    animation: pink 2s infinite;
  }
  @keyframes blue {
    0% {
      transform: translateX(0);
      width: 10px;
    }
    35% {
      width: 50px;
      transform: translateX(0);
    }
    65%{
      transform: translateX(40px);
      width: 10px;
    }
    100% {
      transform: translateX(0);
      width: 10px;
    } 
  }
  @keyframes pink {
    0% {
      transform: translateX(40px);
      width: 10px;
    }
    35% {
      width: 50px;
      transform: translateX(0);
    }
    65%{
      transform: translateX(0px);
      width: 10px;
    }
    100% {
      transform: translateX(40px);
      width: 10px;
    }
  }
  #v {
    position: relative;
    top: -40px;
  }
  .strand_v {
    height: 50px;
    width: 10px;
    border-radius: 10px;
    opacity: 0.8;
  }
  #green {
    margin-left: 9px;
    display: inline-block;
    background-color: #3db991;
    animation: green 2s infinite;
  }
  #yellow {
    display: inline-block;
    margin-left: 8px;
    background-color: #e9a81f;
    animation: yellow 2s infinite;
  }
  @keyframes green {
    0% {
      transform: translateY(40px);
      height: 10px;
    }
    35% {
      height: 50px;
      transform: translateY(0);
    }
    65%{
      transform: translateY(0);
      height: 10px;
    }
    100% {
      transform: translateY(40px);
      height: 10px;
    } 
  }
  @keyframes yellow {
    0% {
      transform: translateY(0);
      height: 10px;
    }
    35% {
      height: 50px;
      transform: translateY(0);
    }
    65%{
      transform: translateY(40px);
      height: 10px;
    }
    100% {
      transform: translateY(0px);
      height: 10px;
    } 
  }
  #credit {
    position: absolute;
    font-family: sans-serif;
    font-size: 12px;
    color: #B9B9B9;
    margin-top: 10px;
    left: 20px;
  }
  a,
  a:visited {
    text-decoration: none;
    color: #6dcadc;
  }
  a:focus,
  a:hover {
    color: #e01463;
  }
  #index .container p {
    font-family: 'Noto Serif', serif;
  }
 
  /* loading of end */

  /* skills of start */
  #skills {
    background-image: url(img/skills-wrapper.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}
#skills .main-center p{
    margin: 20px 0;
}
#skills h1 {
    font-family: 'Noto Serif', serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
}
#skills h2 {
    font-family: 'Noto Serif', serif;
}

/* 棒グラフ of start */
.bar-graph-wrap {
    position: relative;
    height: 620px;
    overflow: hidden;
    background-color: #cccccc;
  }
  .bar-graph-wrap .graph {
    height: 40px;
    position: absolute;
    left: 20px;
    border-radius: 3px 4px 4px 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    -webkit-animation: graphAnim 2.5s forwards;
            animation: graphAnim 2.5s forwards;
  }
  .bar-graph-wrap .graph span {
    font-family: "Oswald",Calibri;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
  }
  @media screen and (max-width: 750px) {
    .bar-graph-wrap .graph span {
      font-size: 12px;
    }
  }
  .bar-graph-wrap .graph.blue {
    top: 3%;
    background: #2F344D;
    width: 90%;
  }
  .bar-graph-wrap .graph.red {
    top: 20%;
    margin: auto;
    background: #274F5F;
    width: 80%;
  }
  .bar-graph-wrap .graph.green {
    top: 37%;
    background:#376171;
    width: 70%;
  }
  .bar-graph-wrap .graph.black {
    top: 54%;
    background: #477483;
    width: 50%;
  }
  .bar-graph-wrap .graph.orange {
    top: 71%;
    background: #477483;
    width: 50%;
  }
  .bar-graph-wrap .graph.purple {
    top: 88%;
    background: #1fd26c;
    width: 30%;
  }

   
  @-webkit-keyframes graphAnim {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
   
  @keyframes graphAnim {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  /* 棒グラフ of end */
  /* skills of end */

  /* works of start */
  #works {
    background-image: url(img/works-wrapper.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}